:80
root * /usr/share/caddy

# Allow CORS for JavaScript and CSS files
header *.js,*.css {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization"
    Access-Control-Allow-Credentials true
}

file_server
try_files {path} {path}/ /index.html 