.canvasWrapper {
  --offset: 0;

  position: fixed;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: var(--canvas-bg, #fff);

  canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: default;
    touch-action: none;
  }
} 